<h3>Benvenuto, <%= user %></h3>

<div class="mb-4">
  <label for="period-select" class="form-label me-2">Intervallo:</label>
  <select id="period-select" class="form-select w-auto d-inline-block">
    <option value="week">Ultima settimana</option>
    <option value="month" selected>Ultimo mese</option>
    <option value="year">Ultimo anno</option>
  </select>
</div>

<div class="row gy-4 mb-5">
  <!-- Distretto -->
  <div class="col-12 col-md-6 col-lg-3">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Distretti (terapie)</h5>
        <canvas id="chart-distretti"></canvas>
      </div>
    </div>
  </div>
  <!-- Trattamenti -->
  <div class="col-12 col-md-6 col-lg-3">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Trattamenti</h5>
        <canvas id="chart-trattamenti"></canvas>
      </div>
    </div>
  </div>
  <!-- Operatori -->
  <div class="col-12 col-md-6 col-lg-3">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Operatori</h5>
        <canvas id="chart-operatori"></canvas>
      </div>
    </div>
  </div>
  <!-- Giocatori -->
  <div class="col-12 col-md-6 col-lg-3">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Giocatori</h5>
        <canvas id="chart-giocatori"></canvas>
      </div>
    </div>
  </div>
</div>



